.pragati-title {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    color: #054547;
    font-size: 40px;
    font-weight: 700;
    line-height: 56px;
  }
  
  .btn {
    background-color: #7a9e9f;
    color: white;
    margin-top: 30px;
    width: 60%;
  }
  
  .btn:hover {
    color: white;
  }
  
  .content {
    font-size: 17px;
  }

  /*
  # main Section
  --------------------------------------------------------------*/
  #main {
    width: 100%;
    height: 87vh;
    background: #f0eddc;
  }
  
  #main h1 {
    margin: 0 0 10px 0;
    font-size: 50px;
    font-weight: 700;
    line-height: 56px;
    color: #054547;
  }
  
  #main h2 {
    color: #47a3a6;
    margin-bottom: 50px;
    margin-top: 20px;
    font-size: 20px;
  }
  
  .btn-get-started {
    font-family: "Jost", sans-serif;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 28px 11px 28px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px 0 0 0;
    color: #fff;
    background: #7a9e9f;
  }
  
  
  #main .btn-signup {
    font-size: 20px;
    display: inline-block;
    padding: 10px 0 8px 40px;
    transition: 0.5s;
    margin: 10px 0 0 25px;
    color: #fff;
    position: relative;
    font-family: "Jost", sans-serif;
  }
  
  #main .btn-signup i {
    color: #fff;
    font-size: 32px;
    position: absolute;
    left: 0;
    top: 7px;
    transition: 0.3s;
  }
  
  @media (max-width: 991px) {
    #main {
      height: 100vh;
      text-align: center;
    }
    #main .main-img {
      text-align: center;
    }
    #main .main-img img {
      width: 50%;
    }
  }
  
  @media (max-width: 768px) {
    #main h1 {
      font-size: 28px;
      line-height: 36px;
    }
    #main h2 {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 30px;
    }
    #main .main-img img {
      width: 70%;
    }
  }
  
  @media (max-width: 575px) {
    #main .main-img img {
      width: 80%;
    }
    #main .btn-get-started {
      font-size: 16px;
      padding: 10px 24px 11px 24px;
    }
    #main .btn-signup {
      font-size: 16px;
      padding: 10px 0 8px 40px;
      margin-left: 20px;
    }
  }
  
